<nav class="nav-bar bg-primary">
    <div class="row">
      <div class="icon-arrow col-xs-2">
        <span class="glyphicon glyphicon-arrow-left" (click)="backToMain()"></span>
      </div>
      <h4 class="col-xs-10 c-orange">Add New Players</h4>
    </div>
  </nav>
  
  <div class="new-input">
    <h5 class="sub-title">Add New Players</h5>
    <div>
      <label class="c-blue">Player's Name </label>
      <input type="text" [(ngModel)]="playerName" id="name" maxlength="8"><br>
      <label class="c-blue">Pocket Amt. $&nbsp;</label>
      <input type="number" [(ngModel)]="amount" id="amount">
    </div>
    <div id="btn-new">
      <button class="btns" (click)="backToMain()">Cancel</button>
      <button class="btns" (click)="saveNewPlayer()">Submit</button>
    </div>
  </div>
  
  <div id="player-list">
    <h5 class="sub-title">Players List &nbsp;<span>( {{players.length}} players )</span></h5>
    <table>
      <tr><th>Name</th><th>in Pocket</th><th>Status</th></tr>
      <tr *ngFor="let p of players; let i = index">
        <td>{{p.getName()}}</td>
        <td>${{p.getAmount()}}</td>
        <td>{{p.getInPlay() ? 'In Play' : 'Stay Out'}}</td>
      </tr>
    </table>
  </div>
    
  <app-dialog-box *ngIf="dialogBox?.open" 
                  [markup]="dialogBox.markup"
                  (onExit)="dialogBox.open = $event"></app-dialog-box>