  <li class="main-title">Menu</li>
  <hr>

  <li class="sub-title">
    <p>Player</p>
  </li>
  <li class="navigate">
    <a (click)="openAddNew()"><span class="glyphicon glyphicon-user"></span>Add New</a>
  </li>
  <li class="navigate">
    <a (click)="openRemove()"><span class="glyphicon glyphicon-trash"></span>Remove</a>
  </li>
  <hr>

  <li class="sub-title">
    <p>Help</p>
  </li>
  <li class="navigate">
    <a (click)="openGameGuide()"><span class="glyphicon glyphicon-question-sign"></span>Game Guide</a>
  </li>
  <li class="navigate">
    <a (click)="openBJCharts()"><span class="glyphicon glyphicon-search"></span>BJ Charts</a>
  </li>
  <hr>

  <li class="sub-title">
    <p>Others</p>
  </li>
  <li class="navigate">
    <a (click)="openOptions()"><span class="glyphicon glyphicon-wrench"></span>Setup Mode</a>
  </li>
  <li class="navigate">
    <a><span class="glyphicon glyphicon-info-sign"></span>Contact</a>
  </li>