.main-title {
  text-align: center;
  padding: 0;
  margin: 5px 0;
  font-size: 24px;
  color: black;
}

hr {  margin-top: 6px; }
.sub-title {  margin-top: -10px; }
.sub-title p {
  margin: 0 0 10px 25px;
  font-size: 20px;
  color: rgb(241, 100, 100);
}

.navigate {
  margin: 12px 0 10px 20px;
  font-size: 1.1em;
}

a {  color: black; font-size: 18px; margin-left: 15px; }
span { font-size: 18px; margin-right: 12px; }
