/* Navigartin bar */
.header-bar {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.game-header {
  text-align: left;
  padding-left: 40px;
}

.dropdown {
  text-align: right;
  margin-top: 10px;
  padding-right: 40px;
}

.dropdown-menu {
  background: lemonchiffon;
  width: 200px;
}

.dropdown span {  color: white; font-size: 20px; }

/* Floating Action Buttons */
#fab {
  position: absolute;
  z-index: 9;
  font-size: 30px;
  right: 55%;
  bottom: 300px;
  text-align: center;
}

#fab-header {
  padding: 20px;
  border-radius: 50%;
  outline: none;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: white;
}

#fab-header a {
  list-style: none;
  color: white;
}

@media (max-width: 420px) {
  /* Navigartin bar */
  .header-bar {
    display: grid;
    grid-template-columns: 7fr 5fr;
  }

  .game-header { padding-left: 20px;  }

  .dropdown-menu { width: 160px;  }

  .dropdown {  padding-right: 20px;  }

  /* Floating Action Buttons */
  #fab {
    font-size: 16px;
    right: 25px;
    bottom: 100px;
  }

  #fab-header {  padding: 10px;  }
}