<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav-bar bg-primary">
  <div class="header-bar">
    <h4 class="game-header">Enjoy&nbsp; Blackjack !</h4>
    <div class="dropdown"><span class="dropdown-toggle glyphicon glyphicon-menu-hamburger"
      data-toggle="dropdown"></span>
      <ul class="dropdown-menu dropdown-menu-right">
        <app-menu></app-menu>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <app-player-list></app-player-list>  
  </div>
  
  <div class="container">
    <app-player-new></app-player-new>
  </div>
  
  <div class="container">
    <app-player-remove></app-player-remove>
  </div>
  
  <div class="container">
    <app-game></app-game>
  </div>
  
  <div class="container">
    <app-game-guide></app-game-guide>
  </div>
  
  <div class="container">
      <app-bj-charts></app-bj-charts>
    </div>
    
  <div class="container">
    <app-options></app-options>
  </div>
  